@model Models.EF.Category

@{
    Layout = "/Views/Shared/_LayoutAdmin.cshtml";

    ShopSoftWare.Common.CommonConstants.IDCategory = Model.IDCategory;
}

@section titlePage{Sửa danh mục sản phẩm}

<div class="container">

    @using (Html.BeginForm("EditCategory", "ADCategory", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Sửa danh mục sản phẩm</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })       

            <div class="form-group">
                @Html.LabelFor(model => model.NameCategory, htmlAttributes: new { @class = "control-label col-md-8" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.NameCategory, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.NameCategory, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "control-label col-md-8" })
                <div class="col-md-10">
                    @Html.CheckBoxFor(model => model.Status, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button class="btn btn-danger" type="submit">Cập nhật danh mục</button>
                </div>
            </div>
        </div>
    }

    <br />
    <br />
    <div style="margin-left: 50px">
        <a href="/admin/category" class="btn btn-warning">Hủy bỏ thao tác</a>
    </div>

</div>