
@{
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
    var listProductReferences = (List<Models.EF.Product>)ViewBag.ProductReferences;
}
@using PagedList.Mvc;
@model PagedList.IPagedList<Models.EF.Product>

@section titlePage{ Key Game Bản Quyền }

@section stylePage {
    <link href="/Assets/client/css/stytleDescription.css" rel="stylesheet" />
}

@section fixPage{
    <style>
        .pagination-container ul li a {
            padding: 5px 10px;
            margin: 0px 5px;
            color: #0984e3;
            -webkit-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
            -moz-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
            box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
            background-color: #dcdde1;
        }
    </style>
}

<h4 class="title-content">Bản quyền Game</h4>
<div class="row">
    @foreach (var items in Model)
    {
        <div class="col-md-4 col-6 content-product">
            <div>
                <img src="@items.Images" class="img-fluid" alt="key-ban-quyen-office">
            </div>
            <div class="name-price">
                <a href="/chi-tiet-san-pham/@items.IDProduct">@items.NameProduct</a>
                <p class="text-danger">@(items.Price.Value.ToString() == null ? "Liên hệ" : "GIÁ: " + items.Price.Value.ToString("N0") + " VND")</p>
                @if (items.Quantity <= 0)
                {
                    <p class="btn btn-danger">Hết hàng</p>
                }
                else
                {
                    <a class="btn btn-success" href="/them-gio-hang?id=@items.IDProduct&quantity=1">Thêm vào giỏ</a>
                }
            </div>
        </div>
    }
</div>

<br>
<div style="margin-left:20px" class="text-center">
    @Html.PagedListPager(Model, page => Url.Action("KeyVirus", new { page }))
</div>
<br>
<br>

<hr class="my-2">
<!-- Description -->
<div class="row">
    <div class="description col-md-6 col-12">
        <div class="header-description">
            <span>
                Dùng Game bản quyền vì?
            </span>
        </div>
        <div class="content-description">
            <p>Bạn có thể thoải mái cập nhật các bản vá lỗi từ phát hành.</p>
            <p>Tính năng bảo mật được nâng cao.</p>
            <p>Hệ điều hành chạy ổn định không phát sinh lỗi.</p>
            <p>Hạn chế được virus xâm nhập.</p>
            <p>Mã hóa được dữ liệu cá nhân tránh bị đánh cắp.</p>
            <p>
                Dữ liệu cá nhân được bảo vệ an toàn tuyệt đối không bị mất dữ liệu,
                đặc biệt là các dữ liệu quan trọng.
            </p>
        </div>
    </div>
    <div class="description col-md-6 col-12">
        <div class="header-description">
            <span>
                Key Game bản quyền từ đâu ?
            </span>
        </div>
        <div class="content-description">
            <p>Các key Game bản quyền này được shop mua trực tiếp với nhà phát hành và được uỷe quyền mua bán.</p>
            <p>Shop cam kết các key mà shop bán ra là 100% từ nhà sản xuất. Do vậy sẽ được bảo hành trực tiếp từ hãng.</p>
        </div>
    </div>
</div>

<hr class="my-2">
<br>
<h3>Có thể bạn quan tâm</h3>
<div class="row">
    @foreach (var items in listProductReferences)
    {
        <div class="col-md-4 col-6 content-product">
            <div>
                <img src="@items.Images" class="img-fluid" alt="hinh-anh-san-pham">
            </div>
            <div class="name-price">
                <a href="/chi-tiet-san-pham/@items.IDProduct">@items.NameProduct</a>
                <p class="text-danger">@(items.Price.Value.ToString() == null ? "Liên hệ" : "GIÁ: " + items.Price.Value.ToString("N0") + " VND")</p>
                <a class="btn btn-success" href="/them-gio-hang?id=@items.IDProduct&quantity=1">Thêm vào giỏ</a>
            </div>
        </div>
    }
</div>